.background{
    background-color: yellow;
}
ul li{
    line-height: 2;
    color:brown ;
    letter-spacing: 4px;
}
a{
    background-color: yellow;
    color: red;
}
p{
    color: brown;
}
.background{
    background-color: yellow;
}